USE [master]
GO
/****** Object:  Database [TAF]    Script Date: 07-06-2023 17:18:17 ******/
CREATE DATABASE [TAF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TAF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TAF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TAF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TAF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TAF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TAF]
GO
/****** Object:  Table [dbo].[tbl_Academics]    Script Date: 07-06-2023 17:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Academics](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[RefID] [int] NULL,
	[Rating] [nvarchar](50) NULL,
	[Class] [nvarchar](50) NULL,
	[No_of_ATKTs] [int] NULL,
	[Rank_Firstclass] [nvarchar](50) NULL,
	[EarlierInterview] [nvarchar](50) NULL,
	[Reason] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_Academics] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CandidateDetails]    Script Date: 07-06-2023 17:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CandidateDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CandidateName] [nvarchar](100) NULL,
	[PresentOrganization] [nvarchar](100) NULL,
	[Qualification] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[WorkExp] [int] NULL,
	[DateOfJoining] [datetime] NULL,
	[Position] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[PendingWith] [nvarchar](50) NULL,
	[CheckedBy] [nvarchar](50) NULL,
	[Recommendation] [nvarchar](50) NULL,
	[RecommendationPosition] [nvarchar](50) NULL,
	[CheckedGrade] [nchar](10) NULL,
	[FilePath] [varchar](200) NULL,
 CONSTRAINT [PK_tbl_CandidateDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_QualityOfExp]    Script Date: 07-06-2023 17:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_QualityOfExp](
	[QID] [int] IDENTITY(1,1) NOT NULL,
	[RefID] [int] NULL,
	[DomainExpRating] [nvarchar](50) NULL,
	[DomainExpRatingAns] [nvarchar](max) NULL,
	[RoleExpRating] [nvarchar](50) NULL,
	[RoleExpRatingAns] [nvarchar](max) NULL,
	[CompExpRating] [nvarchar](50) NULL,
	[CompExpRatingAns] [nvarchar](max) NULL,
	[SoftwareRating] [nvarchar](50) NULL,
	[SoftwareRatingAns] [nvarchar](max) NULL,
	[AchievementsRating] [nvarchar](50) NULL,
	[AchievementsRatingAns] [nvarchar](max) NULL,
	[PresentationSkills] [nvarchar](max) NULL,
	[EngLangProficiency] [nvarchar](max) NULL,
	[EmpReason] [nvarchar](max) NULL,
	[Constraints] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_QualityOfExp] PRIMARY KEY CLUSTERED 
(
	[QID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Academics]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Academics_tbl_Academics] FOREIGN KEY([AID])
REFERENCES [dbo].[tbl_Academics] ([AID])
GO
ALTER TABLE [dbo].[tbl_Academics] CHECK CONSTRAINT [FK_tbl_Academics_tbl_Academics]
GO
ALTER TABLE [dbo].[tbl_QualityOfExp]  WITH CHECK ADD  CONSTRAINT [FK_tbl_QualityOfExp_tbl_QualityOfExp] FOREIGN KEY([QID])
REFERENCES [dbo].[tbl_QualityOfExp] ([QID])
GO
ALTER TABLE [dbo].[tbl_QualityOfExp] CHECK CONSTRAINT [FK_tbl_QualityOfExp_tbl_QualityOfExp]
GO
USE [master]
GO
