USE [master]
GO
/****** Object:  Database [TAQ]    Script Date: 07-06-2023 17:19:07 ******/
CREATE DATABASE [TAQ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TAQ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TAQ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TAQ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TAQ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TAQ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TAQ]
GO
/****** Object:  Table [dbo].[mst_QueAns]    Script Date: 07-06-2023 17:19:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_QueAns](
	[QueID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionNo] [int] NULL,
	[Questions] [nvarchar](max) NULL,
	[Option1] [nvarchar](100) NULL,
	[Option2] [nvarchar](100) NULL,
	[Option3] [nvarchar](100) NULL,
	[Option4] [nvarchar](100) NULL,
	[CorrectOpt1_ID] [int] NULL,
	[CorrectOpt2_ID] [int] NULL,
	[isActive] [bit] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_mst_QueAns] PRIMARY KEY CLUSTERED 
(
	[QueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CandidateDetails]    Script Date: 07-06-2023 17:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CandidateDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CandidateName] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Organisation_Location] [nvarchar](100) NULL,
	[Work_experience] [int] NULL,
	[PositionAssessed] [nvarchar](50) NULL,
	[Total_Score] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[PendingWith] [nvarchar](100) NULL,
	[checkedBy] [nvarchar](100) NULL,
	[checkedOption] [nvarchar](50) NULL,
	[checkedReason] [nvarchar](max) NULL,
	[checkedDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_CandidateDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[InsertCandidateDetails]    Script Date: 07-06-2023 17:19:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertCandidateDetails]
    @CandidateName NVARCHAR(100),
    @Age INT,
	@Organisation_Location NVARCHAR(100),
	@Work_experience INT,
	@PositionAssessed NVARCHAR(100),
	@Total_Score INT,
	@Status NVARCHAR(50),
	@PendingWith NVARCHAR(100)
    
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO tbl_CandidateDetails (CandidateName, Age, Organisation_Location, Work_experience, PositionAssessed, Total_Score, Status, PendingWith)
    VALUES (@CandidateName, @Age, @Organisation_Location, @Work_experience, @PositionAssessed, @Total_Score, @Status, @PendingWith);
END
GO
USE [master]
GO
